@import '../../variables';

:host {
  display: block;
  flex-shrink: 0;
  padding: 10px 20px;
  
  background-color: #f0f0f7;
  border-radius: 6px;
  
  color: $tint-colour;
  font-weight: 600;
  
  cursor: pointer;
  
  @include media-screen-mobile {
    &:not(.compact) {
      padding: 4px 15px;
      border-radius: 50px;
    }
  }
    
  &.compact {
    padding: 7px 12px;
  }
  
  ::ng-deep {
    img {
      margin: 0 2px 0 0;
    }
    
    &.compact img {
      margin: 0 0 0 2px;
    }
  }
}

