@import '../variables';

:host {
  display: block;
  
  max-width: 1000px;  
  box-sizing: border-box;
  
  @include media-screen-mobile {
    margin-left: $content-inset;
  }
  
  @include media-screen-desktop {
    margin: 0 auto;
  }
}